registry=https://registry.npmjs.org
@vizendjs:registry=http://registry.vizend.io/repository/npm-vizend-releases/

//registry.vizend.io/repository/npm-vizend-releases/:_authToken=NpmToken.4c8030ad-a7d7-3c48-a41b-1c40f63a3c2f

strict-ssl=false
always-auth=true
network-timeout=100000
legacy-peer-deps=true
